<!--
    REFERENCES
    Title: Navbar Bootstrap Documentaion
    Date Accessed: October 2020
    Code version: 4.0
    URL: https://getbootstrap.com/docs/4.0/components/navbar/
    Software License: MIT
-->

{% load static %}
<!--Bootstrap Import-->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!--<nav class="navbar navbar-expand-md navbar-light bg-light">-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Commits4Charity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">| Profile |</a>
      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          | Me |
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'my_volunteering' %}">My Volunteering</a>
          <a class="dropdown-item" href="{% url 'my_donations' %}">My Donations</a>
          <a class="dropdown-item" href="{% url 'created_volunteering' %}">Created Volunteering</a>
          <a class="dropdown-item" href="{% url 'created_donations' %}">Created Donations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
        </div>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leaderboard' %}">| Leaderboard |</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'donation_list' %}">| Donate |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'volunteer_list' %}">| Volunteer |</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <a href="/accounts/logout/"><button class="btn btn-danger navbar-btn">Logout</button></a>
    </ul>
  </div>
</nav>